/* 配色方案
*  全局黄色 #fadb2c
   黄色高亮 #f3d33d
*/

/*通用配置*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent; /*清除点击默认的高亮效果 加颜色#ddd可测试一下*/
    -webkit-box-sizing: border-box; /*以border开始计算宽度*/
}

html, body {
    font-family: "Microsoft YaHei", sans-serif;
    color: #535353;
    width: 100%;
    height: 100%;
    max-width: 768px;
    margin: 0 auto;
    background: #F4F4F6;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #535353;
}

a:hover {
    text-decoration: none;
    color: #555;
}

ul {
    list-style: none;
}

input, textarea {
    border: none;
    resize: none; /*不让他伸缩*/
    outline: none; /*清除默认显示选中框效果*/
    -webkit-appearance: none; /*清除有些输入框的默认的立体效果*/
}

/* 清除浮动 */
.clearfix::before, .clearfix::after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

/*设置border的公共类*/
.border-bottom {
    border-bottom: 1px solid #e0e0e0;
}

.border-top {
    border-top: 1px solid #e0e0e0;
}

/*底部按钮通用配置*/
.bottom-btn {
    background: #fadb2c;
    text-align: center;
    color: #535353;
    font-size: 16px;
    width: 80%;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    border: none;
    max-width: 768px;
    border-radius: 7px;

    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
}

.bottom-btn:hover {
    background-color: #f3d33d;
}