
/************************ 医院详情页面 ***************************/

/*头部轮播图*/
header {
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
}

header .img-container-group {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

header .img-container-group .img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

header .img-container-group .img-container>div {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

header ul {
    width: 100%;
    height: 25px;

    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 4px;
    padding-left: 10px;
}

header ul li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #ccc;

    margin-left: 7px;
    float: left;
}

header ul li.cur {
    background: white;
}

/*详情内容*/
.hosp-detail-container {
    width: 100%;
    padding-bottom: 120px;
}

.hosp-row-container {
    width: 100%;
    height: auto;
    min-height: 48px;
    background: white;
    position: relative;
}

.hosp-row-container .img-container {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 12px;

    position: absolute;
    top: 0;
    left: 0;
}

.hosp-row-container .text-container {
    display: block;
    width: 100%;
    line-height: 20px;
    padding: 15px 20px 15px 50px;
}

/************************ 医院搜索页面 ***************************/
.search-container {
    margin-top: 10px;
    width: 100%;
    height: 64px;
    position: relative;
}

.search-container .input-container {
    width: 100%;
    padding: 10px 85px 10px 10px;
}

.search-container .input-container input {
    display: block;
    height: 44px;
    width: 100%;
    padding: 0 10px;

    border-radius: 7px;
    border: 1px solid #e0e0e0;
    color: #535353;
}

.search-container a {
    display: block;
    background: #fadb2c;
    text-align: center;
    border-radius: 7px;

    position: absolute;
    width: 65px;
    height: 44px;
    line-height: 44px;
    top: 10px;
    right: 10px;
}

/*展示医院*/

ul {
    margin: 0 10px;
}

ul li {
    width: 100%;
    height: 65px;
    padding: 10px;
}

ul li p {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

ul li p.text-title {
    line-height: 20px;
    font-size: 14px;
    color: #535353;
}

ul li p.text-address {
    line-height: 20px;
    font-size: 11px;
    color: #aaaaaa;
}



