
/*一行的内容的容器*/
.loan-row-container {
    width: 100%;
    height: 48px;
    background: white;
    overflow: hidden;
}

.loan-title {
    display: inline-block;
    color: #535353;
    line-height: 48px;
    width: 80px;
    text-align: center;
    margin-left: 10px;
}

.loan-row-container .loan-btn {
    display: inline-block;
    color: #bbbbbb;
    line-height: 48px;
}

/*项目名称和单价*/
.loan-project-container {
    margin-top: 10px;
}

.load-add-btn {
    display: inline-block;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    margin-left: -10px;
}

.load-add-btn img {
    width: 18px;
    height: 18px;
}

/*x分期提示*/
.loan-tip-container {
    width: 78%;
    height: 80px;
    margin: 0 auto;
}

.loan-tip-container .loan-tip-imgcontainer {
    display: inline-block;
    height: 100%;
    width: 50px;
    padding-top: 23px;

    float: left;
}

.loan-tip-container img {
    width: 30px;
    height: 34px;
}

.loan-tip-container span {
    display: inline-block;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 100px;
    color: #bbb;
}

/*底部按钮*/
.bottom-btn {
    background: #fadb2c;
}

/*选择分期视图*/

.sheet-container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.sheet-container ul {
    width: 100%;
    height: 160px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
}

.sheet-container ul li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.sheet-container ul li:hover {
    background: #e0e0e0;
}

/*动画*/
@-webkit-keyframes slideup {
    0% {
        transform: translateY(1000px);
        -webkit-transform: translateY(1000px);
    }
    100% {
        transform: none;
        -webkit-transform: none;
    }
}

.slideup {
    animation: slideup .38s ease;
}

@-webkit-keyframes opacity-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.opacity-show {
    animation: opacity-show .38s ease;
}

/*反向动画*/
@-webkit-keyframes slidedown {
    0% {
        transform: none;
        -webkit-transform: none;
    }
    100% {
        transform: translateY(1000px);
        -webkit-transform: transformY(1000px);
    }
}

.slidedown {
    animation: slidedown .38s ease;
}

@-webkit-keyframes opacity-fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.opacity-fade {
    animation: opacity-fade .38s ease;
}