/*
* 行高: 46px;
*
*/

/*全局导航栏*/
#mynav {
    width: 100%;
    height: 64px;
    padding: 1rem;
    margin: 0 auto;
    color: red;
}

#mynav img {
    display: inline-block;
    width: 9px;
    float: left;
}

/*登录首页*/
.login {
    width: 100%;
    height: 100%;
    max-width: 768px;
    margin: 0 auto;
    background: url("../imgs/bg-login.png");
    background-size: 100% 100%;
}

/*登录页*/
.login-content {
    width: 72%;
    margin: 30px auto;
}

.logo-container {
    width: 58px;
    height: 70px;
    margin: 45px auto 50px auto;
}

.logo-container img {
    width: 58px;
    height: 70px;
}

.input-container {
    background-color: white;
    height: 46px;
    margin: 20px auto;
    border: 0.5px solid #cccccc;
    padding: 0 5px 0 10px;
    border-radius: 7px;
}

.input-container .myinput {
    width: 100%;
    height: 100%;
}

.mydonebtn {
    display: block;
    text-align: center;
    height: 45px;
    border-radius: 7px;
    line-height: 45px;
    background: #fadb2c;
}

.normal {
   opacity: 1;
}

.disabled {
    opacity: .4;
}

.smallbtns-container {
    margin: 12px 5px;
    height: 30px;
}

.mysmallbtn {
    font-size: 13px;
}

#regbtn {
    float: left;
}

#forgetbtn {
    float: right;
}

/*注册页面协议*/
.protocol-container {
    height: 27px;
    font-size: 11px;
    text-align: center;
}

.protocol-container .protocol-select-state {
    background: url("../imgs/icon-login-select.png");
    background-size: 18px 18px;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.protocol-container a {
    display: inline-block;
    font-size: 12px;
    line-height: 25px;
}

#input-captcha {
    float: left;
    margin: 0px;
    width: 120px;
    height: 44px;
}

#btn-sendcaptcha {
    display: inline-block;
    width: 80px;
    float: right;
    font-size: 10px;
    margin-top: 5px;
    padding: 0 5px;
    line-height: 32px;
    background-color: gray;
    color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#btn-sendcaptcha:active {
    background-color: #666666;
}

/*底部按钮*/
.bottom-btn {
    background: rgba(255,255,255,.7);
}

.bottom-btn:hover {
    background: rgba(255,255,255,.6);
}