
/*顶部提示文字区域*/
.top-container {
    text-align: center;
    width: 100%;
    margin-top: 120px;

    position: relative;
}

.top-container img {
    margin-bottom: 15px;
}

.top-container p {
    font-size: 15px;
    line-height: 20px;
}

/*输入框*/
.input-container {
    height: 45px;
    margin: 15px 40px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    border-radius: 7px;
}

.input-container input {
    display: block;
    width: 100%;
    font-size: 15px;
    height: 45px;
    text-align: center;
    padding: 0 30px;
}

/*下面的按钮视图*/
.btns-container {
    text-align: center;
    margin-top: 20px;
}

.btns-container h2 {
    font-size: 14px;
    color: #b1b1b1;
    font-weight: normal;
}

.btns-container .btns-group {
    width: 90%;
    height: 55px;
    margin: 15px auto 0 auto;
}

.btns-container .btns-group .btn-box {
    width: 33.33%;
    height: 100%;
    float: left;
}

.btns-container .btns-group .btn-box a {
    background-color: #F4F4F6;
    text-align: center;
    color: #b1b1b1;
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #bbb;
    line-height: 55px;
}